html,
body {
  height: 100%;
  margin: 0;
}

.page {
    width: 70vw;
    margin: auto;
    height: 100%;
}

.xAxis{
    font-family: sans-serif;
    font-size: 20pt;
}

.yAxis{
    font-family: sans-serif;
    font-size: 20pt;
}

.axis{
    font-size: 24pt;
}

.bars{
    fill-opacity: .7;
    fill: #509ec8;
}

:hover.bars{
    fill-opacity: .9;
    fill: yellow;
}

text.label{
 font-family: sans-serif;
 font-size: 24pt;
}

text.plotTitle{
    font-family: sans-serif;
    font-size: 40pt;
    font-weight: bold;
}

text.legendTitle{
    font-family: sans-serif;
    font-size: 16pt;
}

table{
    margin: 40px;
    margin-left:auto; 
    margin-right:auto;
}

.joint-plot table{
    border: 0px solid #d2bcbc;
    border-collapse: collapse;
    width: 25vw;
    height: 25vw;
}

.joint-plot td{
    border: 0px;
    border-collapse: collapse;
    padding: 0px;
}